#wrapper {
	width: 90%;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

article {
	width: 60%;
	float: left;
}

#isso-thread {
	position: fixed;
	margin-left: 59%; /* in percent of the total width and not the wrapper width */
	margin-right: 5%;
	top: 5%;
	bottom: 0;
	overflow: auto;
}