#page {
	text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14pt;
	width: 45%;
	margin: 0 auto;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
	font-size: 0.7em;
	padding-top: 5px;
	padding-bottom: 5px;
}

h2 {
	padding-bottom: 20px;
}

article {
	clear: both;
}