<footer class="site-footer">

  <div class="wrap">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li>{{ site.t[page.lang].contact }} <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        <li><a href="{{ site.publickey }}">{{ site.t[page.lang].gpg }}</a>
          {% if page.lang == 'fr' %}
	  (<a href="{% post_url 2015-05-01-verifier-ma-signature %}">guide d'utilisation</a>)
	  {% endif %}</li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}<li>
          <a alt="GitHub" href="https://github.com/{{ site.github_username }}">
            <img class="social-icon" src="/images/github.png">
            <span class="username">@{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        <li>
          <a alt="Mastodon" rel="me" href="https://fediscience.org/@Zimm_i48">
            <img class="social-icon" src="/images/mastodon.svg">
            <span class="username">@Zimm_i48@fediscience.org</span>
          </a>
        </li>
        {% if site.twitter_username %}<li>
          <a alt="Twitter" href="https://twitter.com/{{ site.twitter_username }}">
            <img class="social-icon" src="/images/birdsite.png">
            <span class="username">@{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.linkedin_username %}<li>
          <a alt="LinkedIn" href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <img class="social-icon" src="/images/prosocialsite.png">
            <span class="username">{{ site.linkedin_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.t[page.lang].description }}</p>
    </div>
	<div class="footer-copyright">
	  <p>
		{{ site.t[page.lang].copyright-texts }} <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.
		{{ site.t[page.lang].copyright-documents }}
		{{ site.t[page.lang].copyright-code }} <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>.
		{{ site.t[page.lang].copyright-images }}
      </p>
	</div>
  </div>

</footer>
